<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ukar.mapper.UserMapper">

    <select id="selectByName" resultType="com.ukar.entity.User">
        SELECT * from t_user where name = #{name}
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_user
        values
        <foreach collection="list" item="user" separator=",">
            (null, #{user.name}, #{user.password})
        </foreach>

    </insert>

    <select id="selectMap" resultType="java.util.HashMap">

        select * from t_user
    </select>

</mapper>